                                                .retanglebody .retangle2 {
                                                    position: absolute;
                                                    background-image: url("https://cdn.pixabay.com/index/2020/11/19/13-55-27-631_1920x430.jpg");
                                                    left: 0;
                                                    top: 100px;
                                                    right: 0;
                                                    bottom: 0;
                                                    max-width: 100%;
                                                    height: 200px;
                                                }
                                                
                                                .search_form .search .q {
                                                    position: absolute;
                                                    background: #fff;
                                                    border-radius: 20px;
                                                    border: 1px solid #eee;
                                                    width: 799px;
                                                    height: 45px;
                                                    left: 339px;
                                                    top: 179px;
                                                    font-size: large;
                                                    font-family: segoe ui light;
                                                    padding-left: 30px;
                                                }