.header {
    width: 100%;
    height: 80px;
    display: flex;
}

.infor-container {
    margin-left: 20px;
}

.sujet {
    height: 8px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.lecturer {
    height: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.title {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    margin-left: 80px;
    margin-top: -2px;
}

.logo {
    height: 80px;
    width: auto;
}

.navigation {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.navigation a {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    /*border: 1.5px solid black;*/
    justify-content: center;
    display: flex;
    width: 100px;
    height: 35px;
}

.home img {
    opacity: 0.6;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    width: 20px;
    height: 20px;
}

.home p {
    margin-top: 10px;
    margin-left: 5px;
}

.about img {
    opacity: 0.6;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    width: 20px;
    height: 20px;
}

.about p {
    margin-left: 5px;
    margin-top: 10px;
}

.home,
.about {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: bolder;
    font-size: 12px;
    color: gray;
}

.gallery {
    justify-content: center;
    visibility: visible;
}

.gallery-inner {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-item {
    margin-bottom: 23px;
    display: block;
    width: 22%;
    height: 250px;
    max-height: 250px;
    background-color: green;
}

.gallery-item img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 12.4%;
}

footer img {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

#back {
    visibility: visible;
}


/*==============*/

.profile-inner {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.member {
    width: 30%;
    height: 200px;
    flex-wrap: wrap;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    margin: auto;
}

.member img {
    height: 50px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.name {
    height: 5px;
    margin-left: 0px;
}

.id {
    height: 5px;
    margin-left: 0px;
}

.role {
    height: 5px;
    margin-left: 0px;
}